In [17]:
import pandas as pd
import datetime as dt

In [9]:
#
data = pd.read_csv("cities.csv")
data

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [10]:
data = data.drop(columns=["City_ID"])
data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...
542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [11]:
data_df = data.set_index("City")
data_df

,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City,,,,,,,,
jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...
scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [28]:
data_df["Date"].dt.strftime("%m/%d/%y")
data_df = data_df[["Date", "Country", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]
data_df.head()

,Date,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
City,,,,,,,,
jacareacanga,1899-12-14 12:02:45.900877824,BR,-6.22,-57.76,89.60,62,0,6.93
kaitangata,1908-12-31 12:02:45.900877824,NZ,-46.28,169.85,42.61,94,100,5.64
goulburn,1908-05-19 12:02:45.900877824,AU,-34.75,149.72,44.32,91,20,10.11
lata,1909-01-01 12:02:45.900877824,IN,30.78,78.62,59.89,89,76,0.94
chokurdakh,1909-01-02 12:02:45.900877824,RU,70.62,147.90,32.17,88,0,2.95

In [29]:
x = data_df.to_html()
print(x)

d>13.87</td>
    </tr>
    <tr>
      <th>davidson</th>
      <td>1909-10-23 12:02:45.900877824</td>
      <td>US</td>
      <td>35.50</td>
      <td>-80.85</td>
      <td>78.80</td>
      <td>65</td>
      <td>40</td>
      <td>4.70</td>
    </tr>
    <tr>
      <th>oksfjord</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>NO</td>
      <td>70.24</td>
      <td>22.35</td>
      <td>46.40</td>
      <td>65</td>
      <td>40</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>wattegama</th>
      <td>1909-07-02 12:02:45.900877824</td>
      <td>LK</td>
      <td>7.35</td>
      <td>80.68</td>
      <td>71.41</td>
      <td>97</td>
      <td>92</td>
      <td>5.75</td>
    </tr>
    <tr>
      <th>inyonga</th>
      <td>1909-07-02 12:02:45.900877824</td>
      <td>TZ</td>
      <td>-6.72</td>
      <td>32.06</td>
      <td>79.42</td>
      <td>32</td>
      <td>0</td>
      <td>3.18</td>
    </tr>
    <tr>
      <th>saint george</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>GR</td>
      <td>39.45</td>
      <td>22.34</td>
      <td>80.60</td>
      <td>54</td>
      <td>40</td>
      <td>8.05</td>
    </tr>
    <tr>
      <th>jabinyanah</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>TN</td>
      <td>35.03</td>
      <td>10.91</td>
      <td>80.60</td>
      <td>47</td>
      <td>0</td>
      <td>13.87</td>
    </tr>
    <tr>
      <th>siddipet</th>
      <td>1909-07-03 12:02:45.900877824</td>
      <td>IN</td>
      <td>18.10</td>
      <td>78.85</td>
      <td>84.10</td>
      <td>58</td>
      <td>56</td>
      <td>11.68</td>
    </tr>
    <tr>
      <th>praia da vitoria</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>PT</td>
      <td>38.73</td>
      <td>-27.07</td>
      <td>75.20</td>
      <td>78</td>
      <td>40</td>
      <td>10.22</td>
    </tr>
    <tr>
      <th>duluth</th>
      <td>1905-09-14 12:02:45.900877824</td>
      <td>US</td>
      <td>46.77</td>
      <td>-92.13</td>
      <td>73.40</td>
      <td>46</td>
      <td>1</td>
      <td>8.05</td>
    </tr>
    <tr>
      <th>oistins</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>BB</td>
      <td>13.07</td>
      <td>-59.53</td>
      <td>86.00</td>
      <td>66</td>
      <td>20</td>
      <td>25.28</td>
    </tr>
    <tr>
      <th>san onofre</th>
      <td>1909-07-10 12:02:45.900877824</td>
      <td>CO</td>
      <td>9.74</td>
      <td>-75.52</td>
      <td>86.44</td>
      <td>93</td>
      <td>0</td>
      <td>5.30</td>
    </tr>
    <tr>
      <th>avera</th>
      <td>1905-09-14 12:02:45.900877824</td>
      <td>US</td>
      <td>33.19</td>
      <td>-82.53</td>
      <td>78.80</td>
      <td>83</td>
      <td>90</td>
      <td>3.74</td>
    </tr>
    <tr>
      <th>alizai</th>
      <td>1909-07-11 12:02:45.900877824</td>
      <td>PK</td>
      <td>33.94</td>
      <td>71.55</td>
      <td>89.77</td>
      <td>30</td>
      <td>0</td>
      <td>3.29</td>
    </tr>
    <tr>
      <th>bela</th>
      <td>1909-07-11 12:02:45.900877824</td>
      <td>PK</td>
      <td>26.23</td>
      <td>66.31</td>
      <td>93.37</td>
      <td>29</td>
      <td>36</td>
      <td>10.33</td>
    </tr>
    <tr>
      <th>kalas</th>
      <td>1904-11-18 12:02:45.900877824</td>
      <td>PK</td>
      <td>33.49</td>
      <td>72.96</td>
      <td>98.60</td>
      <td>25</td>
      <td>0</td>
      <td>4.97</td>
    </tr>
    <tr>
      <th>gisborne</th>
      <td>1909-07-13 12:02:45.900877824</td>
      <td>NZ</td>
      <td>-38.66</td>
      <td>178.02</td>
      <td>52.60</td>
      <td>86</td>
      <td>12</td>
      <td>10.67</td>
    </tr>
    <tr>
      <th>yuryevets</th>
      <td>1909-07-13 12:02:45.900877824</td>
      <td>RU</td>
      <td>57.32</td>
      <td>43.11</td>
      <td>60.70</td>
      <td>69</td>
      <td>24</td>
      <td>15.03</td>
    </tr>
    <tr>
      <th>bundaberg</th>
      <td>1909-07-13 12:02:45.900877824</td>
      <td>AU</td>
      <td>-24.87</td>
      <td>152.35</td>
      <td>64.66</td>
      <td>100</td>
      <td>88</td>
      <td>12.01</td>
    </tr>
    <tr>
      <th>griffith</th>
      <td>1909-07-14 12:02:45.900877824</td>
      <td>AU</td>
      <td>-34.29</td>
      <td>146.06</td>
      <td>50.62</td>
      <td>90</td>
      <td>80</td>
      <td>8.88</td>
    </tr>
    <tr>
      <th>raudeberg</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>NO</td>
      <td>61.99</td>
      <td>5.14</td>
      <td>60.80</td>
      <td>71</td>
      <td>75</td>
      <td>11.41</td>
    </tr>
    <tr>
      <th>rio gallegos</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>AR</td>
      <td>-51.62</td>
      <td>-69.22</td>
      <td>33.80</td>
      <td>86</td>
      <td>20</td>
      <td>5.82</td>
    </tr>
    <tr>
      <th>antalaha</th>
      <td>1909-07-15 12:02:45.900877824</td>
      <td>MG</td>
      <td>-14.90</td>
      <td>50.28</td>
      <td>75.01</td>
      <td>85</td>
      <td>88</td>
      <td>14.14</td>
    </tr>
    <tr>
      <th>houma</th>
      <td>1909-07-15 12:02:45.900877824</td>
      <td>CN</td>
      <td>35.63</td>
      <td>111.36</td>
      <td>62.32</td>
      <td>58</td>
      <td>0</td>
      <td>2.51</td>
    </tr>
    <tr>
      <th>verkhoyansk</th>
      <td>1909-07-15 12:02:45.900877824</td>
      <td>RU</td>
      <td>67.55</td>
      <td>133.39</td>
      <td>56.29</td>
      <td>63</td>
      <td>0</td>
      <td>2.62</td>
    </tr>
    <tr>
      <th>donskoye</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>RU</td>
      <td>45.45</td>
      <td>41.98</td>
      <td>80.60</td>
      <td>30</td>
      <td>0</td>
      <td>6.71</td>
    </tr>
    <tr>
      <th>mogadishu</th>
      <td>1909-04-08 12:02:45.900877824</td>
      <td>SO</td>
      <td>2.04</td>
      <td>45.34</td>
      <td>78.25</td>
      <td>100</td>
      <td>64</td>
      <td>22.08</td>
    </tr>
    <tr>
      <th>lewistown</th>
      <td>1905-09-14 12:02:45.900877824</td>
      <td>US</td>
      <td>40.39</td>
      <td>-90.15</td>
      <td>78.80</td>
      <td>53</td>
      <td>1</td>
      <td>12.75</td>
    </tr>
    <tr>
      <th>leningradskiy</th>
      <td>1909-07-16 12:02:45.900877824</td>
      <td>RU</td>
      <td>69.38</td>
      <td>178.42</td>
      <td>33.79</td>
      <td>88</td>
      <td>0</td>
      <td>21.74</td>
    </tr>
    <tr>
      <th>airai</th>
      <td>1909-07-18 12:02:45.900877824</td>
      <td>TL</td>
      <td>-8.93</td>
      <td>125.41</td>
      <td>68.98</td>
      <td>93</td>
      <td>76</td>
      <td>1.72</td>
    </tr>
    <tr>
      <th>nantucket</th>
      <td>1905-09-14 12:02:45.900877824</td>
      <td>US</td>
      <td>41.28</td>
      <td>-70.10</td>
      <td>69.80</td>
      <td>77</td>
      <td>90</td>
      <td>17.22</td>
    </tr>
    <tr>
      <th>mount gambier</th>
      <td>1909-07-21 12:02:45.900877824</td>
      <td>AU</td>
      <td>-37.83</td>
      <td>140.78</td>
      <td>49.72</td>
      <td>81</td>
      <td>92</td>
      <td>6.87</td>
    </tr>
    <tr>
      <th>katobu</th>
      <td>1909-07-21 12:02:45.900877824</td>
      <td>ID</td>
      <td>-4.94</td>
      <td>122.53</td>
      <td>77.98</td>
      <td>100</td>
      <td>24</td>
      <td>2.62</td>
    </tr>
    <tr>
      <th>baiyin</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>CN</td>
      <td>36.55</td>
      <td>104.13</td>
      <td>60.80</td>
      <td>31</td>
      <td>0</td>
      <td>4.47</td>
    </tr>
    <tr>
      <th>jumla</th>
      <td>1909-07-22 12:02:45.900877824</td>
      <td>NP</td>
      <td>29.28</td>
      <td>82.18</td>
      <td>37.75</td>
      <td>95</td>
      <td>88</td>
      <td>2.51</td>
    </tr>
    <tr>
      <th>voh</th>
      <td>1909-07-22 12:02:45.900877824</td>
      <td>NC</td>
      <td>-20.95</td>
      <td>164.69</td>
      <td>71.59</td>
      <td>100</td>
      <td>8</td>
      <td>14.81</td>
    </tr>
    <tr>
      <th>kamaishi</th>
      <td>1909-07-22 12:02:45.900877824</td>
      <td>JP</td>
      <td>39.28</td>
      <td>141.86</td>
      <td>53.95</td>
      <td>78</td>
      <td>0</td>
      <td>12.80</td>
    </tr>
    <tr>
      <th>jurm</th>
      <td>1909-07-23 12:02:45.900877824</td>
      <td>AF</td>
      <td>36.86</td>
      <td>70.83</td>
      <td>40.09</td>
      <td>100</td>
      <td>56</td>
      <td>1.61</td>
    </tr>
    <tr>
      <th>la ronge</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>CA</td>
      <td>55.10</td>
      <td>-105.30</td>
      <td>53.60</td>
      <td>76</td>
      <td>75</td>
      <td>8.05</td>
    </tr>
    <tr>
      <th>paragominas</th>
      <td>1909-07-23 12:02:45.900877824</td>
      <td>BR</td>
      <td>-3.00</td>
      <td>-47.35</td>
      <td>91.93</td>
      <td>56</td>
      <td>20</td>
      <td>5.41</td>
    </tr>
    <tr>
      <th>fairbanks</th>
      <td>1899-08-16 12:02:45.900877824</td>
      <td>US</td>
      <td>64.84</td>
      <td>-147.72</td>
      <td>42.80</td>
      <td>75</td>
      <td>1</td>
      <td>3.36</td>
    </tr>
    <tr>
      <th>poum</th>
      <td>1904-11-18 12:02:45.900877824</td>
      <td>MK</td>
      <td>41.28</td>
      <td>20.71</td>
      <td>78.80</td>
      <td>47</td>
      <td>40</td>
      <td>8.05</td>
    </tr>
    <tr>
      <th>boyle</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>IE</td>
      <td>53.97</td>
      <td>-8.30</td>
      <td>55.40</td>
      <td>100</td>
      <td>75</td>
      <td>18.34</td>
    </tr>
    <tr>
      <th>klaksvik</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>FO</td>
      <td>62.23</td>
      <td>-6.59</td>
      <td>48.20</td>
      <td>93</td>
      <td>92</td>
      <td>19.46</td>
    </tr>
    <tr>
      <th>aleksandro-nevskiy</th>
      <td>1909-07-25 12:02:45.900877824</td>
      <td>RU</td>
      <td>53.48</td>
      <td>40.21</td>
      <td>74.20</td>
      <td>49</td>
      <td>0</td>
      <td>9.78</td>
    </tr>
    <tr>
      <th>graham</th>
      <td>1908-10-28 12:02:45.900877824</td>
      <td>US</td>
      <td>36.07</td>
      <td>-79.40</td>
      <td>75.20</td>
      <td>78</td>
      <td>75</td>
      <td>9.17</td>
    </tr>
    <tr>
      <th>paraiso</th>
      <td>1897-04-28 12:02:45.900877824</td>
      <td>MX</td>
      <td>24.01</td>
      <td>-104.61</td>
      <td>66.20</td>
      <td>68</td>
      <td>75</td>
      <td>3.36</td>
    </tr>
    <tr>
      <th>nishihara</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>JP</td>
      <td>35.74</td>
      <td>139.53</td>
      <td>69.80</td>
      <td>68</td>
      <td>75</td>
      <td>3.36</td>
    </tr>
    <tr>
      <th>charyshskoye</th>
      <td>1909-07-26 12:02:45.900877824</td>
      <td>RU</td>
      <td>51.40</td>
      <td>83.56</td>
      <td>69.70</td>
      <td>37</td>
      <td>8</td>
      <td>3.40</td>
    </tr>
    <tr>
      <th>struer</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>DK</td>
      <td>56.48</td>
      <td>8.60</td>
      <td>60.80</td>
      <td>63</td>
      <td>8</td>
      <td>17.22</td>
    </tr>
    <tr>
      <th>hualmay</th>
      <td>1909-07-26 12:02:45.900877824</td>
      <td>PE</td>
      <td>-11.10</td>
      <td>-77.61</td>
      <td>65.02</td>
      <td>77</td>
      <td>12</td>
      <td>3.62</td>
    </tr>
    <tr>
      <th>ystad</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>SE</td>
      <td>55.43</td>
      <td>13.82</td>
      <td>68.00</td>
      <td>60</td>
      <td>75</td>
      <td>13.87</td>
    </tr>
    <tr>
      <th>buin</th>
      <td>1909-10-23 12:02:45.900877824</td>
      <td>CL</td>
      <td>-33.73</td>
      <td>-70.74</td>
      <td>46.40</td>
      <td>65</td>
      <td>0</td>
      <td>3.36</td>
    </tr>
    <tr>
      <th>gamboma</th>
      <td>1909-07-31 12:02:45.900877824</td>
      <td>CG</td>
      <td>-1.87</td>
      <td>15.88</td>
      <td>87.34</td>
      <td>64</td>
      <td>0</td>
      <td>6.53</td>
    </tr>
    <tr>
      <th>bristol</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>GB</td>
      <td>51.45</td>
      <td>-2.60</td>
      <td>68.00</td>
      <td>77</td>
      <td>75</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>imbituba</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>BR</td>
      <td>-28.24</td>
      <td>-48.67</td>
      <td>69.80</td>
      <td>64</td>
      <td>40</td>
      <td>3.36</td>
    </tr>
    <tr>
      <th>comrie</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>GB</td>
      <td>56.09</td>
      <td>-3.58</td>
      <td>60.80</td>
      <td>72</td>
      <td>40</td>
      <td>14.99</td>
    </tr>
    <tr>
      <th>esil</th>
      <td>1909-08-01 12:02:45.900877824</td>
      <td>KZ</td>
      <td>51.96</td>
      <td>66.41</td>
      <td>60.25</td>
      <td>50</td>
      <td>0</td>
      <td>7.65</td>
    </tr>
    <tr>
      <th>lompoc</th>
      <td>1905-09-14 12:02:45.900877824</td>
      <td>US</td>
      <td>34.64</td>
      <td>-120.46</td>
      <td>62.60</td>
      <td>63</td>
      <td>1</td>
      <td>2.51</td>
    </tr>
    <tr>
      <th>coihaique</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>CL</td>
      <td>-45.58</td>
      <td>-72.07</td>
      <td>33.80</td>
      <td>85</td>
      <td>80</td>
      <td>2.24</td>
    </tr>
    <tr>
      <th>hamilton</th>
      <td>1899-02-17 12:02:45.900877824</td>
      <td>BM</td>
      <td>32.30</td>
      <td>-64.78</td>
      <td>77.00</td>
      <td>73</td>
      <td>40</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>hasaki</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>JP</td>
      <td>35.73</td>
      <td>140.83</td>
      <td>64.40</td>
      <td>93</td>
      <td>75</td>
      <td>3.36</td>
    </tr>
    <tr>
      <th>kajaani</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>FI</td>
      <td>64.22</td>
      <td>27.73</td>
      <td>53.60</td>
      <td>52</td>
      <td>0</td>
      <td>4.70</td>
    </tr>
    <tr>
      <th>tupik</th>
      <td>1909-08-04 12:02:45.900877824</td>
      <td>RU</td>
      <td>54.43</td>
      <td>119.94</td>
      <td>51.25</td>
      <td>63</td>
      <td>0</td>
      <td>4.63</td>
    </tr>
    <tr>
      <th>kloulklubed</th>
      <td>1899-02-17 12:02:45.900877824</td>
      <td>PW</td>
      <td>7.04</td>
      <td>134.26</td>
      <td>82.40</td>
      <td>83</td>
      <td>90</td>
      <td>9.17</td>
    </tr>
    <tr>
      <th>kieta</th>
      <td>1909-08-04 12:02:45.900877824</td>
      <td>PG</td>
      <td>-6.22</td>
      <td>155.63</td>
      <td>76.81</td>
      <td>100</td>
      <td>32</td>
      <td>2.73</td>
    </tr>
    <tr>
      <th>maldonado</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>UY</td>
      <td>-34.91</td>
      <td>-54.96</td>
      <td>51.80</td>
      <td>76</td>
      <td>75</td>
      <td>19.46</td>
    </tr>
    <tr>
      <th>smithers</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>CA</td>
      <td>54.78</td>
      <td>-127.17</td>
      <td>48.20</td>
      <td>81</td>
      <td>75</td>
      <td>2.62</td>
    </tr>
    <tr>
      <th>mareeba</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>AU</td>
      <td>-16.99</td>
      <td>145.42</td>
      <td>60.80</td>
      <td>93</td>
      <td>0</td>
      <td>3.40</td>
    </tr>
    <tr>
      <th>kaputa</th>
      <td>1909-08-05 12:02:45.900877824</td>
      <td>ZM</td>
      <td>-8.47</td>
      <td>29.66</td>
      <td>78.88</td>
      <td>29</td>
      <td>0</td>
      <td>3.62</td>
    </tr>
    <tr>
      <th>lira</th>
      <td>1909-08-05 12:02:45.900877824</td>
      <td>UG</td>
      <td>2.25</td>
      <td>32.90</td>
      <td>82.39</td>
      <td>45</td>
      <td>68</td>
      <td>8.21</td>
    </tr>
    <tr>
      <th>constitucion</th>
      <td>1897-04-28 12:02:45.900877824</td>
      <td>MX</td>
      <td>23.99</td>
      <td>-104.67</td>
      <td>66.20</td>
      <td>68</td>
      <td>75</td>
      <td>3.36</td>
    </tr>
    <tr>
      <th>ternate</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>PH</td>
      <td>14.29</td>
      <td>120.72</td>
      <td>77.00</td>
      <td>100</td>
      <td>90</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>haines junction</th>
      <td>1909-08-10 12:02:45.900877824</td>
      <td>CA</td>
      <td>60.75</td>
      <td>-137.51</td>
      <td>42.79</td>
      <td>52</td>
      <td>68</td>
      <td>2.62</td>
    </tr>
    <tr>
      <th>zagora</th>
      <td>1904-11-18 12:02:45.900877824</td>
      <td>HR</td>
      <td>46.19</td>
      <td>15.87</td>
      <td>71.60</td>
      <td>73</td>
      <td>75</td>
      <td>2.24</td>
    </tr>
    <tr>
      <th>zhongxing</th>
      <td>1909-08-11 12:02:45.900877824</td>
      <td>CN</td>
      <td>32.02</td>
      <td>116.14</td>
      <td>74.29</td>
      <td>69</td>
      <td>8</td>
      <td>7.99</td>
    </tr>
    <tr>
      <th>snezhnogorsk</th>
      <td>1904-11-18 12:02:45.900877824</td>
      <td>RU</td>
      <td>69.19</td>
      <td>33.23</td>
      <td>42.80</td>
      <td>70</td>
      <td>75</td>
      <td>2.24</td>
    </tr>
    <tr>
      <th>sola</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>FI</td>
      <td>62.78</td>
      <td>29.36</td>
      <td>50.00</td>
      <td>76</td>
      <td>75</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>sioux lookout</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>CA</td>
      <td>50.10</td>
      <td>-91.92</td>
      <td>66.20</td>
      <td>59</td>
      <td>20</td>
      <td>4.70</td>
    </tr>
    <tr>
      <th>sur</th>
      <td>1909-08-14 12:02:45.900877824</td>
      <td>OM</td>
      <td>22.57</td>
      <td>59.53</td>
      <td>89.32</td>
      <td>82</td>
      <td>0</td>
      <td>4.85</td>
    </tr>
    <tr>
      <th>utete</th>
      <td>1909-08-15 12:02:45.900877824</td>
      <td>TZ</td>
      <td>-7.99</td>
      <td>38.76</td>
      <td>81.76</td>
      <td>51</td>
      <td>12</td>
      <td>6.08</td>
    </tr>
    <tr>
      <th>saint-joseph</th>
      <td>1904-11-18 12:02:45.900877824</td>
      <td>FR</td>
      <td>43.56</td>
      <td>6.97</td>
      <td>71.60</td>
      <td>60</td>
      <td>75</td>
      <td>4.70</td>
    </tr>
    <tr>
      <th>sadao</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>TH</td>
      <td>6.63</td>
      <td>100.42</td>
      <td>82.40</td>
      <td>83</td>
      <td>75</td>
      <td>2.24</td>
    </tr>
    <tr>
      <th>petropavlovsk-kamchatskiy</th>
      <td>1899-12-14 12:02:45.900877824</td>
      <td>RU</td>
      <td>53.05</td>
      <td>158.65</td>
      <td>41.00</td>
      <td>86</td>
      <td>90</td>
      <td>2.24</td>
    </tr>
    <tr>
      <th>vestmanna</th>
      <td>1903-03-29 12:02:45.900877824</td>
      <td>FO</td>
      <td>62.16</td>
      <td>-7.17</td>
      <td>48.20</td>
      <td>93</td>
      <td>92</td>
      <td>19.46</td>
    </tr>
    <tr>
      <th>chifeng</th>
      <td>1909-08-20 12:02:45.900877824</td>
      <td>CN</td>
      <td>42.27</td>
      <td>118.96</td>
      <td>52.42</td>
      <td>90</td>
      <td>8</td>
      <td>0.72</td>
    </tr>
    <tr>
      <th>grants pass</th>
      <td>1899-04-18 12:02:45.900877824</td>
      <td>US</td>
      <td>42.44</td>
      <td>-123.33</td>
      <td>59.00</td>
      <td>50</td>
      <td>90</td>
      <td>2.62</td>
    </tr>
    <tr>
      <th>lampazos de naranjo</th>
      <td>1909-08-20 12:02:45.900877824</td>
      <td>MX</td>
      <td>27.02</td>
      <td>-100.51</td>
      <td>82.93</td>
      <td>57</td>
      <td>0</td>
      <td>6.76</td>
    </tr>
    <tr>
      <th>salym</th>
      <td>1909-08-20 12:02:45.900877824</td>
      <td>RU</td>
      <td>60.06</td>
      <td>71.48</td>
      <td>60.61</td>
      <td>51</td>
      <td>48</td>
      <td>5.08</td>
    </tr>
    <tr>
      <th>verkh-chebula</th>
      <td>1909-08-20 12:02:45.900877824</td>

In [30]:
data_df.to_html(open("cities.html", "w"))